@media screen and (min-width:568px){
    .container {
        margin-top:10px;
        width: 500px;
        height: 460px;
    }
    #field__title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .fields__textboxs{
        height: 150px;
    }
    .fields__textboxs > input{
        height: 60px;
    }
    .fields__recovery{
        margin-bottom: 20px;
    }
    .logo{
        margin-top: 100px;
    }
}    