:root{
    background-image: url(../Imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.orkut-font-color{
    color: #ff0088;
    cursor: auto;
}
.orkut-font-color:hover{
    color:#25A0F1;
}
