
.container{
    width: 400px;
    max-width: 900px;
    height:405px;
    background-color:#ffffffce;
    border-radius:10px;
    margin:auto;
    margin-top: 5%; 
    -webkit-box-shadow: 10px 9px 24px 3px rgba(100,97,97,0.69); 
    box-shadow: 10px 9px 24px 3px rgba(97, 98, 100, 0.411);     
}
.fields{
    margin: 5% 10%;
}
.fields__title{
    display: flex;
    justify-content: center;
}

#field__title{
    font-size: 17px;
    font-weight: bold;
    color: rgb(58, 58, 58);
    margin-top: 20px;
    margin-bottom: 5%;
}
.fields__textboxs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fields__textboxs > input{
    height: 40px;
    outline: 0PX;
    border-radius: 5px;
    border: 1px solid #25A0F1;
    margin-bottom: 20px;
    padding-left: 15px;
    font-size: 15px;
}
.fields__textboxs > :focus{
    border: 1px solid #e8258e;
}
.field__remember{
    margin-bottom: 20px;
}
.field__remember:hover{
    color:rgb(59, 135, 223)
}
#btnlogin{
    width: 100%;
    border: none;
    background-color: #ff0088;
    color: #ffffff;
    font-size: 17px;
    font-weight: 550;
    padding: 10px;
    border-radius: 5px;  
    cursor: pointer;
}
#btnlogin:hover{
    width: 100%;
    background-color: #f50083;
    transition: all 0.9s;
}
.fields__recovery > a, .fields__create >a{
    text-decoration: none;
    color:rgb(44,44,44);
}
.fields__recovery{
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    padding-bottom: 10px;
    border-bottom: 1px solid #ff9ed2;
}
.recovery:hover{
    color: rgb(59, 135, 223);
}
.fields_notacount{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.fields__create{
    display: flex;
    justify-content: center;
    cursor: inherit;
    margin-top: 15px;
}
#btncreate{
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background-color:rgb(37, 160, 241);
    color: #ffffff;
    padding: 10px;
    width: 50%;
    border-radius: 5px;  
    cursor: pointer;
}
#btncreate:hover{
    width: 50%;
    background-color:rgb(0, 146, 243) ;
    transition: all 0.9s;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.logo > img{
    height: 80px;
}


