<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/reset.css">
    <link rel="stylesheet" href="../../assets/CSS/login/Pagina_Login.css">
    <link rel="stylesheet" href="../../assets/CSS/login/Pagina_Login_responsivo.css">
    <link rel="stylesheet" href="../../assets/CSS/global.css">
    <title>Login Orkut</title>
</head>
<body>
    
    <div class="logo">
        <img src="../../assets/Imgs/orkut-logo.png" alt="">
    </div>

    <div class="container">
        <div class="fields">

             <div class="fields__title">
                 <p id="field__title">Acesse o <span class="orkut-font-color">Orkut</span> com a sua conta <span style="color: #0086F9 ;">G</span><span style="color: #FF4030 ;">o</span><span style="color: #FFBE00 ;">o</span><span style="color: #0086F9 ;">g</span><span style="color: #00AB4A ;">l</span><span style="color: #FF4031">e</span>!
                 </p>
             </div> 

             <div class="fields__textboxs">
                 <input type="email" placeholder="E-mail ou telefone" name="" id="field__email">
                 <input type="password" placeholder="Senha" name="" id="field__pass">
             </div>

             <div class="field__remember">
                 <input type="checkbox" name="" id="field__remember">
                 <label for="field__remember">lembrar sempre do meu acesso </label>
             </div>

             <div class="fields__buttons">
                 <button id="btnlogin">Entrar</button>
             </div>

             <div class="fields__recovery">
                 <a href="../Login/Recuperação_Senha.html"><span class="recovery">Esqueceu a senha?</span></a>
             </div>

                 <p class="fields_notacount"> nâo tem conta?</p>
             <div class="fields__create">
                 <a href="../Login/Registro_Conta.html" id="btncreate" >Criar Agora</a>
             </div>
             
        </div>    
  </div>
    
</body>
</html>
